/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/

html, body, #map-canvas {
	height: 100%;
	margin: 0;
	padding: 0;
}

#settings-container {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	margin: 0;
	padding: 100px;
	pointer-events: none;
}

#filter, #viz {
	pointer-events: auto;
}